
@{
    ViewData["Title"] = "Index";
}

<h1>Index is my liefline</h1>

<h1>Todays date and time is @DateTime.Now</h1>

@{
    var name = "Sriman Ch";
    var age = 22;
}
<p>My name is @name and I am @age years old.</p>

@{
    if(name == "Sriman Ch")
    {
        <h2>Hi nice to meet you</h2>
    }   
    else
    {
        <h2>Who are you</h2>
    }
}

@{
    for(int i=0;i<=3;i++)
    {
        <h2>@i</h2>
    }
}

@ViewData["key1"]

@{
foreach (var item in ViewData["key3"] )
{
    @item
}
}
